div {
    background-color: lightgreen;
}

.main {
    background-color: lightblue;
}

#welcomeDiv {
    background-color: lightcoral;
}

div {
    background-color: lightgrey;
}

* {
    background-color: yellow;
}

div, footer {
    background-color: thistle;
}