body {
    height: 2000px;
}

#container{
    position: relative;
}

#welcomeDiv {
    background-color: lightblue;
    position: fixed;
    top: 50px;
    left: 50px;
}

#nameDiv {
    background-color: lightgreen;
}