html, body {
    padding: 0px;
    margin: 0px;
}

#container {
    background-color: lightcoral;
    height: 500px;
}

#welcomeDiv {
    background-color: lightblue;
    height: 50%;
    /* margin: 50px; */
    /* padding: 50px; */
    margin: 10px 50px 10px 50px;
    padding: 10px 50px 10px 50px;
}